.Rproj.user
.Rhistory
.RData
.Ruserdata

## Large files
./data/fingerprint_similarity/calibration/cp_sim_parallel_all_metrics.RDS
./data/fingerprint_similarity/calibration/similarity_scores.RDS
./data/fingerprint_similarity/calibration/similarity_scores.RDS